@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin :0;
}
body{
    font-family: "lato", "sans-serif";
}
/*--------------------------------Header----------------------------------*/
.faq-header-nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height:12vh;
    }
.header-navbar a{
    padding: 10px;
    text-decoration: none;
    color: #4971FF;
}
.header-button{
    background-color: #4971FF;
    width:120px;
    height:30px;
    color:white;
    border-radius: 15px;
    border:#4971FF 2px solid;
}

/*---------------Services----------------*/

.service-drop-contents{
    display: none;
    list-style: none;
    background-color: #4971FF;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left:5%;  
}
.service-drop-down:hover .service-drop-contents{
    display: block;
    
}
.service-drop-contents a{
    display: block;
    margin-top: 5%;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.service-drop-contents a:hover {
    background-color: white;
}

/*---------------Career----------------*/

.career-drop-contents{
    display: none;
    list-style: none;
    background-color: #4971FF;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left:17%;  
}
.career-drop-down:hover .career-drop-contents{
    display: block;
    
}
.career-drop-contents a{
    display: block;
    margin-top: 5%;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.career-drop-contents a:hover {
    background-color: white;
}

/*---------------Blogs----------------*/

.blogs-drop-contents{
    display: none;
    list-style: none;
    background-color: #4971FF;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left:23%;  
    
}
.blogs-drop-down:hover .blogs-drop-contents{
    display: block;
    
}
.blogs-drop-contents a{
    display: block;
    margin-top: 5%;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.blogs-drop-contents a:hover {
    background-color: white;
}

/*------------------------FAQ show-case------------------*/
.faq-intro{
    text-align: center;
}
.faq-detail{
    overflow: auto;
    background-image: url("/Faq/images/background.png");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 10%;
}
.faq-img{
    float: right;
}

.business{
    border: #FAFCFF 2px solid;
    width:40%;
    margin:2%;
    background-color: #FAFCFF;
    overflow: auto;    
}
.icon-plus{
    float: left;
    margin: 2%;
}
.business-question{
    margin-top: 2%;
}
.business-ans{
    margin-top:5%;
    margin-left: 7%;
}
.research{
    border: #FAFCFF 2px solid;
    width:50%;
    margin:2%;
    background-color: #FAFCFF;
    overflow: auto;
    width:40%;
}
.research-question{
    margin-top: 2%;
}
.chemicals{
    border: #FAFCFF 2px solid;
    width:50%;
    margin:2%;
    background-color: #FAFCFF; 
    overflow: auto;
    width:40%;
}
.chemical-question{
    margin-top: 2%;
}
.company{
    border: #FAFCFF 2px solid;
    width:50%;
    margin:2%;
    background-color: #FAFCFF; 
    overflow: auto;
    width:40%;
}
.company-question{
    margin-top: 2%;
}



/*------------------------talk to us------------------*/

.talk{
    text-align: center;
    margin:5%;
}
.talk-showcase-flex{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.talk-showcase-text{
    text-align: left;
    margin-left: 45px;
    line-height: 30px;
}
.tik{
    height: 20px;
    width:20px;
    float:left;
}

.form-container{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 300px;
  padding: 2% ;
  border-radius: 15px;

}
.talk-showcase-form{
    margin:5% 0;   
}
.flex-container{
    display: flex;
}
.first-flex{
    display:flex;
    flex-direction: column;
    text-align: left;    
}
.second-flex{
    display:flex;
    flex-direction: column;
    text-align: left;
}
.third-flex{
    display:flex;
    flex-direction: column;
    text-align: left;
}
.talk-showcase-button{
    float: right;
    background-color: #4971FF;
    color: #ffffff;
    border:1px solid #4971FF;
    border-radius: 20px;
    height: 40px;
    width:120px;
}
/*-----------------------------Stats------------------------------------*/
.stats{
    text-align: center;
}
.stats-heading{
color: #4971FF;
}
.stats-grid{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   margin-top:5%;
}

/*------------------------------Footer-------------------------------------*/
.foter{
    background-color: black;
    text-align: center;
    margin-top: 5%;
    padding:2%;
    }
    .Services{
        color: blanchedalmond;
    }
    .quick-links{
        color: blanchedalmond;
    }
    .contacts, .news{
        color: blanchedalmond;
    }
    .news {
        margin-top: 10%;
        text-align: left;
    }
    .main-foter-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr); 
        gap: 5%;   
    }
    .footer-text{
        color: blanchedalmond;    
    }
    .zepta-flex{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left:10%;
    }
    .socialmedia-icon{
        height: 30px;
        width:30px;
    }
    .socialmedia-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left:0%;
        margin-top: 2%;
    }
    
    .quicklist{
        list-style: none;

    }
    .quicklist a{
        text-decoration: none;
        color:white;
    }

    .quicklist li{
        padding:5%;
        text-align: left;
        margin-left: 15%;
        
    }
    .quick-links{
        text-align: center;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .contact-list{
        list-style: none;
    }
    .contact-list li{
        margin: 0;
        padding:7%;
    }
    .adress-icon{
        float:left;
    }
    .phone-icon{
        float:left;
    }
    .email-icon{
        float: left;
    }
    .timing-icon{
        float: left;
    }
    .contactinfo-flex{
        display: flex;
        flex-direction: row;
    }
    .foter-navigaton{      
        background-color: #23232D;
        padding:0;
    }
    .footer-Copyright{
        float:left;
    }
    .footer-PrivacyPolicy{
        float: right;
        margin-right:2%
    }
    .footer-Terms-And-Services{
        margin-left: 70%;
    }
    .foter-navigaton a {
        text-decoration: none;
        color: #EFF6FE;
    }
     /*---------------Footer Drop downs------------------*/
   .foter .blogs-drop-contents {
    background-color: white;
    margin-left:0;
    padding:0;
    margin: 0;
    width: 10%; 
    overflow: auto;
    text-align: center;
           }
   .foter .blogs-drop-contents a{
       color: black;
       text-align: left;
       text-align: center;
       padding:0;
       margin: 0;
   }
   .foter .blogs-drop-contents li{
    color: black;
    padding:0;
    margin: 0;
    text-align: center;
    padding:10%;
    font-size: large;
}

   .foter .blogs-drop-contents a:hover{
    background-color: #23232D;
}

   .foter .career-drop-contents {
    background-color: white;
    margin-left: 1%;
    padding:0;
    width: 8%;
    padding:0;
    margin: 0;
    text-align: center;
           }
   .foter .career-drop-contents a{
       color: #23232D;
       text-align: center;
       padding:0;
        margin: 0;
        text-align: center;
   }
   .foter .career-drop-contents li{
    color: #23232D;
    text-align: center;
    padding:0;
     margin: 0;
     text-align: center;
     padding:10%;
    font-size: large;
}

   .foter .career-drop-contents a:hover{
    background-color: #23232D;


}

   .foter .service-drop-contents {
    background-color: white;
    margin-left: 1%;
    padding:0;
    width: 8%;
    padding:0;
    margin: 0;
    text-align: center;
           }
   .foter .service-drop-contents a{
       color: #23232D;
       text-align: center;
       padding:0;
       margin: 0;
    text-align: center;
   }
   .foter .service-drop-contents li{
    color: #23232D;
    text-align: center;
    padding:10%;
    font-size: large;
    margin: 0;
    text-align: center;
}
   .foter .service-drop-contents a:hover{
    background-color: #23232D; 
}