@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin :0;
}
body{
    font-family: "lato", "sans-serif";
}
/*--------------------------------Header----------------------------------*/
.services-header-nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height:12vh;
    }
.header-navbar a{
    padding: 10px;
    text-decoration: none;
    color: #4971FF;
}
.header-button{
    background-color: #4971FF;
    width:120px;
    height:30px;
    color:white;
    border-radius: 15px;
    border:#4971FF 2px solid;
}

/*---------------Services----------------*/

.service-drop-contents{
    display: none;
    list-style: none;
    background-color: #4971FF;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left:5%;  
}
.service-drop-down:hover .service-drop-contents{
    display: block;
    
}
.service-drop-contents a{
    display: block;
    margin-top: 5%;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.service-drop-contents a:hover {
    background-color: white;
}

/*---------------Career----------------*/

.career-drop-contents{
    display: none;
    list-style: none;
    background-color: #4971FF;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left:17%;  
}
.career-drop-down:hover .career-drop-contents{
    display: block;
    
}
.career-drop-contents a{
    display: block;
    margin-top: 5%;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.career-drop-contents a:hover {
    background-color: white;
}

/*---------------Blogs----------------*/

.blogs-drop-contents{
    display: none;
    list-style: none;
    background-color: #4971FF;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left:23%;  
    
}
.blogs-drop-down:hover .blogs-drop-contents{
    display: block;
    
}
.blogs-drop-contents a{
    display: block;
    margin-top: 5%;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.blogs-drop-contents a:hover {
    background-color: white;
}



/*------------------------------Services Showcase-------------------------------------*/

.service-showcase-text{
    text-align: center;
    margin:5%;
    
    
}
.boxes-image{
    background-image: url(/services/services1/images/services-showcase/box7.png);
    height:30px;
    width:30px;
    float:left;
    border:#EFF6FE 5px solid;
}
.servicesboxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    justify-content: space-around;
    padding:50px 200px ;
    }
.boxes{
    
    margin: 5%;
    width:200px;
    height:120px;
    border: black 2px solid;
    margin-left: 0%;
    margin-right: 0%;
    border: white 2px solid;
    border-radius: 5px;
    border-bottom: #4971FF 5px solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.sb-headings{
    text-align: center;
    color: #4971FF;
}
.sb-para{
    font-weight: 10px;
    font-size: 10px;
}
.service-box-links{
    color:#4971FF;
    font-size: 10px;
    text-decoration: none;
}

/*------------------------------UX-UI Design-------------------------------------*/
.UX-UI-Design{
    background-image: url(/services/services1/images/UX-UI-Design/background.png);
    background-position-x:100% ;
    background-repeat: no-repeat;
    height: max-content;
    overflow: auto;
    margin:5% 2%;
    
}
.ux-ui-desi{
    float: right;
    height:40%;
    width:40%;
}

.wireframes{
    margin: 1%;
}
.prototyping{
    margin:1%;
}
.wirefr{
float:left;
}
.proto{
float: left;
}
/*------------------------------Web-development-------------------------------------*/
.web-devlopment{
    background-image: url(/services/services1/images/webDevelopment/background.png);
    background-repeat: no-repeat;
    height: max-content;
    overflow: auto;
    margin:5% 2%;
    
}
.web-dev{
    float: left;
    height:40%;
    width:40%;
    margin-left: 7%;
    margin-right: 1%;
}

.web-based{
    margin: 1%;
}
.Desk-based{
    margin:1%;
}
.webbase{
float:left;
}
.deskbase{
float: left;
}
/*------------------------------Mobile App Dev-------------------------------------*/
.mob-app-dev{
    background-image: url(/services/services1/images/UX-UI-Design/background.png);
    background-position-x:100% ;
    background-repeat: no-repeat;
    height: max-content;
    overflow: auto;
    margin:5% 2%;
    
}
.mobile-apps{
    float: right;
    height:40%;
    width:40%;
}

.IOS-app{
    margin: 1%;
}
.andriod-app{
    margin:1%;
}
.ios-icon{
float:left;
}
.andriod-icon{
float: left;
}
/*------------------------------Quality Assurance-------------------------------------*/
.quality-assurance{
    background-image: url(/services/services1/images/webDevelopment/background.png);
    background-repeat: no-repeat;
    height: max-content;
    overflow: auto;
    margin:5% 2%;
    
}
.qual-assu{
    float: left;
    height:40%;
    width:40%;
    margin-left: 7%;
    margin-right: 1%;
}

.qual-control{
    margin: 1%;
}
.Soft-testing{
    margin:1%;
}
.quality-icon{
float:left;
}
.test-icon{
float: left;
}
/*------------------------------Word Press Development-------------------------------------*/
.Word-press-dev{
    background-image: url(/services/services1/images/UX-UI-Design/background.png);
    background-position-x:100% ;
    background-repeat: no-repeat;
    height: max-content;
    overflow: auto;
    margin:5% 2%;
    
}
.word-press{
    float: right;
    height:40%;
    width:40%;
}

.wordpress-theme{
    margin: 1%;
}
.wordpress-custom{
    margin:1%;
}
.theme-icon{
float:left;
}
.custom-icon{
float: left;
}
/*------------------------------Technical Writing-------------------------------------*/
.technical-Writing{
    background-image: url(/services/services1/images/webDevelopment/background.png);
    background-repeat: no-repeat;
    height: max-content;
    overflow: auto;
    margin:5% 2%;
    
}
.tech-writ{
    float: left;
    height:40%;
    width:40%;
    margin-left: 7%;
    margin-right: 1%;
}

.soft-doc{
    margin: 1%;
}
.UX-Writing{
    margin:1%;
}
.doc-icon{
float:left;
}
.UX-icon{
float: left;
}
/*------------------------------SEO-------------------------------------*/
.Search-Engine-Optimization{
    background-image: url(/services/services1/images/UX-UI-Design/background.png);
    background-position-x:100% ;
    background-repeat: no-repeat;
    height: max-content;
    overflow: auto;
    margin:5% 2%;
    
}
.SEO{
    float: right;
    height:40%;
    width:40%;
}

.On-page{
    margin: 1%;
}
.Off-Page{
    margin:1%;
}
.On-icon{
float:left;
}
.Off-icon{
float: left;
}
/*------------------------talk to us------------------*/

.talk{
    text-align: center;
    margin:5%;
}
.talk-showcase-flex{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.talk-showcase-text{
    text-align: left;
    margin-left: 45px;
    line-height: 30px;
}
.tik{
    height: 20px;
    width:20px;
    float:left;
}

.form-container{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 300px;
  padding: 2% ;
  border-radius: 15px;

}
.talk-showcase-form{
    margin:5% 0;   
}
.flex-container{
    display: flex;
}
.first-flex{
    display:flex;
    flex-direction: column;
    text-align: left;    
}
.second-flex{
    display:flex;
    flex-direction: column;
    text-align: left;
}
.third-flex{
    display:flex;
    flex-direction: column;
    text-align: left;
}
.talk-showcase-button{
    float: right;
    background-color: #4971FF;
    color: #ffffff;
    border:1px solid #4971FF;
    border-radius: 20px;
    height: 40px;
    width:120px;
}
/*-----------------------------Stats------------------------------------*/
.stats{
    text-align: center;
}
.stats-heading{
color: #4971FF;
}
.stats-grid{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   margin-top:5%;
}

/*------------------------------Footer-------------------------------------*/
.foter{
    background-color: black;
    text-align: center;
    margin-top: 5%;
    padding:2%;
    }
    .Services{
        color: blanchedalmond;
    }
    .quick-links{
        color: blanchedalmond;
    }
    .contacts, .news{
        color: blanchedalmond;
    }
    .news {
        margin-top: 10%;
        text-align: left;
    }
    .main-foter-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr); 
        gap: 5%;   
    }
    .footer-text{
        color: blanchedalmond;    
    }
    .zepta-flex{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left:10%;
    }
    .socialmedia-icon{
        height: 30px;
        width:30px;
    }
    .socialmedia-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left:0%;
        margin-top: 2%;
    }
    
    .quicklist{
        list-style: none;

    }
    .quicklist a{
        text-decoration: none;
        color:white;
    }

    .quicklist li{
        padding:5%;
        text-align: left;
        margin-left: 15%;
        
    }
    .quick-links{
        text-align: center;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .contact-list{
        list-style: none;
    }
    .contact-list li{
        margin: 0;
        padding:7%;
    }
    .adress-icon{
        float:left;
    }
    .phone-icon{
        float:left;
    }
    .email-icon{
        float: left;
    }
    .timing-icon{
        float: left;
    }
    .contactinfo-flex{
        display: flex;
        flex-direction: row;
    }
    .foter-navigaton{      
        background-color: #23232D;
        padding:0;
    }
    .footer-Copyright{
        float:left;
    }
    .footer-PrivacyPolicy{
        float: right;
        margin-right:2%
    }
    .footer-Terms-And-Services{
        margin-left: 70%;
    }
    .foter-navigaton a {
        text-decoration: none;
        color: #EFF6FE;
    }
     /*---------------Footer Drop downs------------------*/
   .foter .blogs-drop-contents {
    background-color: white;
    margin-left:0;
    padding:0;
    margin: 0;
    width: 10%; 
    overflow: auto;
    text-align: center;
           }
   .foter .blogs-drop-contents a{
       color: black;
       text-align: left;
       text-align: center;
       padding:0;
       margin: 0;
   }
   .foter .blogs-drop-contents li{
    color: black;
    padding:0;
    margin: 0;
    text-align: center;
    padding:10%;
    font-size: large;
}

   .foter .blogs-drop-contents a:hover{
    background-color: #23232D;
}

   .foter .career-drop-contents {
    background-color: white;
    margin-left: 1%;
    padding:0;
    width: 8%;
    padding:0;
    margin: 0;
    text-align: center;
           }
   .foter .career-drop-contents a{
       color: #23232D;
       text-align: center;
       padding:0;
        margin: 0;
        text-align: center;
   }
   .foter .career-drop-contents li{
    color: #23232D;
    text-align: center;
    padding:0;
     margin: 0;
     text-align: center;
     padding:10%;
    font-size: large;
}

   .foter .career-drop-contents a:hover{
    background-color: #23232D;


}

   .foter .service-drop-contents {
    background-color: white;
    margin-left: 1%;
    padding:0;
    width: 8%;
    padding:0;
    margin: 0;
    text-align: center;
           }
   .foter .service-drop-contents a{
       color: #23232D;
       text-align: center;
       padding:0;
       margin: 0;
    text-align: center;
   }
   .foter .service-drop-contents li{
    color: #23232D;
    text-align: center;
    padding:10%;
    font-size: large;
    margin: 0;
    text-align: center;
}
   .foter .service-drop-contents a:hover{
    background-color: #23232D; 
}